body {
    font-size: 65px;
}

.boardCells {
 background-color: black;
}

.boardCells tr th {
    background-color: #199d63;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.black:before {
    color: black;
    content: "●";
}

.white:before {
    color: white;
    content: "●";
}

.red:before {
    color:red;
    content: "●";
}

#points {
    width: 350px;
    height: 55px;
    overflow: hidden;
}
#points>div, #points>p {
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: black;
    font-size: 40px;
}

#win {
    text-align: center;
    width: 350px;
}

