body {
    font-size: 65px;
}

.boardCells{
 background-color: black;
}

.boardCells tr th {
    background-color: #199d63;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.black:before {
    color: black;
    content: "●";
}

.white:before{
    color: white;
    content: "●";
}