body {
    font-size: 65px;
}

.boardCells{
 background-color: black;
}

.boardCells tr th {
    background-color: #199d63;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.black:before {
    color: black;
    content: "●";
}

.white:before{
    color: white;
    content: "●";
}

.red:before {
    color:red;
    content: "●";
}

#points{
    width: 400px;
    height: 200px;
    overflow: hidden;
}
#points>div, #points>p {
    width: 100px;
    height: 100px;
    display: inline-block;
    color: black;
    font-size: 40px;
}

